
<br>
<h2>Add Item Form</h2>

<form action="/new-item" method="post" >
    <label for="name">Item Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="image" name="image" required><br><br>
    <label for="Description">Description:</label>
    <input type="text" id="description" name = "description" required><br><br>
    <label for="Category">Category:</label>
    <input type= "text" id= "category" name = "category"><br><br>
    <label for="Price">Price:</label>
    <input type= "float" id= "price"  name ="price"><br><br>
    <button type="submit">Submit a item!</button>
</form>
