
<h2>Please Select a Warehouse Below</h2>

<br>



<h3>Warehouse 1</h3>    
<br>
<a href="/warehouses/1">
   <input type="button" value="Click" />
</a>


 <h3>Warehouse 2</h3>
 <a href="/warehouses/2">
   <input type="button" value="Click" />
</a>
<h3>Warehouse 3</h3>

<a href="/warehouses/3">
   <input type="button" value="Click" />
</a>

<h3>Warehouse 4</h3>
<a href="/warehouses/4">
   <input type="button" value="Click" />
</a>
