<a href="/add-item-form">
   <input type="button" value="Add Item" />
</a>



<div class="big-block">
	<h2 id="item-name">Name: {{inventory.name}}</h2>
	
	
    <!--<button id="btn">Add Spice!</button> -->
</div>