
<br>
<h5>Items are listed Below</h5>
<div class="row">
    {{#each items}}
        <div id="item-{{id}}" class="col-md-3 col-sm-6">
            <img class="item-img" src="{{image}}"/><br>
            <a style="color: orange" href="/items/{{id}}">Click to see {{name}}</a><br>
        </div>
    {{/each}}
</div>
<br>
<br>
<br>

<a href="/add-item-form">
   <input type="button" class="btn" value="Add Item" />
</a>