<form method="post" action="/add-item">
    <label for="name">Item Name:</label><br>
    <input type="text" id="name" name="name" required>
    <label for="image">Image URL:</label><br>
    <input type="text" id="image" name="image" required>
    <label for="image">description:</label><br>
    <input type="text" id="description" name="description" required>
    <label for="image">category:</label><br>
    <input type="text" id="category" name="category" required>
    <label for="image">price:</label><br>
    <input type="text" id="price" name="price" required>
    <input type="submit">
</form>