<form action="/new-flavor" method="post">
   <label for="name">Flavor Name:</label><br>
   <input type="text" id="name" name="name" required><br>
 
   <label for="image">Image URL:</label><br>
   <input type="text" id="image" name="image" required>

<label for="quantity">Quantity:</label><br>
   <input type="number" id="quantity" name="quantity" min="1" required><br>

   <label for="name">Price:</label><br>
   <input type="number" id="price" name="price" min="1" step="any" required><br>

   <label for="BrandId"> Brand Id:</label><br>
   <input type="number" id="BrandId" name="BrandId" min="1" required><br>

   <button type="submit" class="btn btn-primary">Submit</button>
</form>
