
<div class="big-block">
	<h2 id="item-name"> Name of Warehouse: {{warehouse.name}}</h2>
	<h2 id="item-location">Location: {{warehouse.location}}</h2>
   
	<a href="/items">
   <input type="button" value="Item List" />
</a>

</div>